<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Chat App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!-- 네비게이션바 시작 -->
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="/">
          <img src="{% static 'images/logo.png' %}" alt="HIDM Logo">
        </a>
      </div>
      <div class="nav-row-container">
        <ul class="nav-row first-row">
          <li><a href="/ai-matching/">AI Matching</a></li>
          <li><a href="/earn-points/">Earn Points</a></li>

          <li><a href="{% url 'find_topics' %}">Find Topics</a></li>

          <li><a href="{% url 'find_friends' %}">Find Friends</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
        <ul class="nav-row second-row">
  <li><a href="{% url 'announcement_list' %}">Announcement</a></li>
          <li><a href="/boomerang/">Boomerang</a></li>
          <li><a href="/hidm-court/">HIDM Court</a></li>
          <li><a href="{% url 'profile' %}">My Profile</a></li>
        </ul>
      </div>
    </nav>
    <!-- 네비게이션바 끝 -->

    <div style="padding: 20px;">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
